<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>LoginS</servlet-name>
		<display-name>LoginS</display-name>
		<description></description>
		<servlet-class>com.group.servlet.LoginS</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Register</servlet-name>
		<display-name>Register</display-name>
		<description></description>
		<servlet-class>com.group.servlet.Register</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FetchDataS</servlet-name>
		<display-name>FetchDataS</display-name>
		<description></description>
		<servlet-class>com.group.servlet.FetchDataS</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginS</servlet-name>
		<url-pattern>/LoginS</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FetchDataS</servlet-name>
		<url-pattern>/FetchDataS</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	<session-config>
		<session-timeout>1</session-timeout>
	</session-config>
</web-app>
