<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>LoginS</servlet-name>
		<display-name>LoginS</display-name>
		<description></description>
		<servlet-class>com.group.servlet.LoginS</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegisterS</servlet-name>
		<display-name>RegisterS</display-name>
		<description></description>
		<servlet-class>com.group.servlet.RegisterS</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FetchDataS</servlet-name>
		<display-name>FetchDataS</display-name>
		<description></description>
		<servlet-class>com.group.servlet.FetchDataS</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AjexServletS</servlet-name>
		<display-name>AjexServletS</display-name>
		<description></description>
		<servlet-class>com.group.Ajex.AjexServletS</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateS</servlet-name>
		<display-name>UpdateS</display-name>
		<description></description>
		<servlet-class>com.group.servlet.UpdateS</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginS</servlet-name>
		<url-pattern>/LoginS</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterS</servlet-name>
		<url-pattern>/RegisterS</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FetchDataS</servlet-name>
		<url-pattern>/FetchDataS</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AjexServletS</servlet-name>
		<url-pattern>/AjexServletS</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateS</servlet-name>
		<url-pattern>/UpdateS</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
<!-- 	<session-config>
		<session-timeout>1</session-timeout>
	</session-config> -->
</web-app>
